html {
    font-size: 10px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

body,h3,ul {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Lato", sans-serif;
    box-sizing: border-box;
}

.wrapper {
    max-width: 940px;
    margin: 0 auto;
}

.getquote {
    padding-top: 67px;
    padding-bottom: 65px;
    background-color: #f06c64;
    border-bottom: 6px solid #ea676b;
}

    .getquote__title h3 {
        font-size: 3rem;
        line-height: 1.8rem;
        color: #f0d8d9;
        font-weight: 900;
    }

    .getquote__text p {
        margin-top: 28px;
        font-size: 1.8rem;
        line-height: 3rem;
        letter-spacing: -0.21px;
        color: #f0d8d9;
        font-weight: 300;
        text-align: justify;
    }

    .getquote__wrapper {
        margin-top: 44px;
    }

    .getquote__wrapper::after {
        display: block;
        content: "";
        clear: both;
    }

    .getquote__form {
        height: 366px;
        width: 620px;
        float: left;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
    }

        .form__folder {
            padding-left: 14px;
            height: 38px;
            background-color: #d6564f;
            border: none;
            border-radius: 5px;
            font-size: 1.2rem;
            line-height: 2.2rem;
            color: #f48c8f;
            font-weight: 400;
        }

        .form__describe {
            height: 202px;
            resize: none;
            line-height: 3.6rem;
            letter-spacing: -0.8px;
        }

        .form__folder-button {
            width: 300px;
            position: absolute;
            bottom: 0;
            right: -325px;
        }

    .getquote__contact {
        width: 300px;
        float: right;
    }

        .contact__title h3 {
            font-size: 18px;
            line-height: 18px;
            color: #f0d8d9;
            font-weight: 900;
        }

        .contact__text p {
            font-size: 1.2rem;
            line-height: 2.2rem;
            letter-spacing: -0.2px;
            color: #f0d8d9;
            font-weight: 400;
        }

        .contact__date {
           margin-top: 18px; 
        }

            .contact__date li{
                padding-left: 22.6px;
                font-size: 1.2rem;
                line-height: 2.2rem;
                color: #f0d8d9;
                font-weight: 400;
            }

            .date__info {
                position: relative;
            }

            .date__info img {
                position: absolute;
                top: 6px;
                left: 2px;
            }

    .footer {
        background-color: #2d303a;
    }

    .footer__inner {
        padding: 30px 0;
    }

    .footer__inner::after {
        display: block;
        content: "";
        clear: both;
    }

        .footer__copyright {
            font-size: 1.2rem;
            font-weight: 400;
            color: #666d89;
            float: left;
        }

        .footer__icons {
            margin-top: -9px;
            float: right;
        }

            .footer__icons li{
                margin-left: 3px;
                display: inline-block;
            }
