body,h1,h2,h3,h4,h5,h6,p {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

html {
    font-size: 10px;
}

body {
    font-family: "Lato", sans-serif;
    box-sizing: border-box;
}

.wrapper {
    max-width: 940px;
    margin: 0 auto;
}

.portfolio {
    padding-top: 65px;
    padding-bottom: 68px;
    background: #2d303a;
    border-bottom: 6px solid #323746;
    line-height: 0.9;
}

    .portfolio__title h3 {
        font-size: 3rem;
        color: #666d89;
        font-weight: 900;
    }

    .portfolio__text p {
        margin-top: 30px;
        font-size: 1.8rem;
        letter-spacing: -0.022rem;
        color: #767e9e;
        font-weight: 300;
    }

    .portfolio__nav {
        margin-top: 17px;
    }

        .portfolio__nav li {
            margin-right: 10px;
            padding: 5px;
            display: inline-block;
            border: 1px solid #666d89;
            border-radius: 5px;
            font-size: 1.2rem;
            color: #767e9e;
            font-weight: 400;
            transition: all 0.4s linear;
        }

        .portfolio__nav li:hover {
            color: #dedede;
            border: 1px solid #c5c5c5;
        }

    .portfolio__pictures {
        height: 620px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        overflow: hidden;
    }

            .pictures__item {
                margin-top: 19px;
            }

.aboutus {
    padding-top: 70px;
    padding-bottom: 70px;
    background-color: #f2f2f2;
    border-bottom: 6px solid #fff;
}

    .aboutus__title h3 {
        font-size: 3rem;
        line-height: 1.8rem;
        color: #666d89;
        font-weight: 900;
    }

    .aboutus__text p {
        margin-top: 25px;
        font-size: 1.8rem;
        line-height: 3rem;
        color: #767e9e;
        font-weight: 300;
        letter-spacing: -0.2px;
        text-align: justify;
    }

    .aboutus__photo {
        width: 300px;
        height: 450px;
        margin-top: 45px;
        margin-right: 17px;
        display: inline-block;
    }

    .aboutus__photo:last-child {
        margin-right: 0;
    }

        .photo__title h3 {
            margin-top: 15px;
            font-size: 1.8rem;
            line-height: 1.8rem;
            color: #666d89;
            font-weight: 900;
        }

        .photo__text p {
            margin-top: 10px;
            font-size: 1.2rem;
            line-height: 2.2rem;
            color: #767e9e;
            font-weight: 400;
            text-align: justify;
            letter-spacing: -0.17px;
        }

    .photo__icons {
        margin-top: 24px;
    }

        .icons__item {
            margin-right: 5px;
            display: inline-block;
        }

            .facebook,
            .google,
            .twitter,
            .linked {
                height: 33px;
                width: 33px;
                display: block;
                background-repeat: no-repeat;
                transition: all 0.4s linear;
            }

            .facebook {
                background-image: url("./assets/img/facebook.png");
            }

            .facebook:hover {
                background-image: url("./assets/img/facebookhover.png");
            }

            .google {
                background-image: url("./assets/img/google.png");
            }

            .google:hover {
                background-image: url("./assets/img/googlehover.png");
            }

            .twitter {
                background-image: url("./assets/img/twitter.png");
            }

            .twitter:hover {
                background-image: url("./assets/img/twitterhover.png");
            }

            .linked {
                background-image: url("./assets/img/linked.png");
            }

            .linked:hover {
                background-image: url("./assets/img/linkedhover.png");
            }

        

