
body,
div,
dl,
dt,
dd,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
}

html {
  font-size: 10px;
}

body {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
}

.wrapper {
  max-width: 94rem;
  margin: 0 auto;
}

.header {
  background-color: #2d303a;
  border-bottom: 6px solid #323746;
}

.header__inner {
  padding: 2.9rem 0;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  text-transform: uppercase;
}

.header__logo {
  font-size: 2.5rem;
  font-weight: 700;
  letter-spacing: -0.1rem;
}

.header__logo h1 {
  display: inline-block;
  color: #fff;
}

.header__logo span {
  margin-left: -0.3rem;
  color: #f06c64;
}

.nav__block {
  width: 37.2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-transform: uppercase;
}

.nav__block .nav__item {
  position: relative;
}

.nav__block .nav__item:not(:last-child)::after {
  content: "·";
  font-size: 1.2rem;
  position: absolute;
  color: #494e62;
  top: 0;
  right: -1.7rem;
}

.nav__block a {
  color: #fff;
  font-size: 1.2rem;
  font-weight: 700;
  transition: all 0.5s linear;
}

.nav__block a:hover {
  color: #f06c64;
}

.slider {
  height: 60.1rem;
  background: #f06c64;
  border-bottom: 6px solid #ea676b;
}

.slider__inner {
  position: relative;
}

.slider__inner .arrow__left {
  height: 2.7rem;
  width: 1.6rem;
  cursor: pointer;
  background-image: url("./assets/img/chev__left.png");
  position: absolute;
  top: 28.1rem;
  left: 0;
  transition: all 0.5s linear;
}

.slider__inner .arrow__left:hover {
  background-image: url("./assets/img/chev__left-b.png");
}

.slider__inner .arrow__right {
  height: 2.7rem;
  width: 1.6rem;
  cursor: pointer;
  background-image: url("./assets/img/chev__right.png");
  position: absolute;
  top: 28.1rem;
  right: 0;
  transition: all 0.5s linear;
}

.slider__inner .arrow__right:hover {
  background-image: url("./assets/img/chev__right-b.png");
}

.slider__inner .iphone__vertical {
  position: absolute;
  top: 5.3rem;
  left: 7rem;
}

.slider__inner .iphone__horizontal {
  position: absolute;
  top: 17.4rem;
  right: 7rem;
}

.service {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background: #f2f2f2;
  border-bottom: 6px solid #fff;
}

.service__article .article__title {
  font-size: 3rem;
  font-weight: 900;
  color: #666d89;
  overflow: hidden;
}

.service__article .article__text {
  height: 6rem;
  margin-top: 1.7rem;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.667;
  letter-spacing: -0.01rem;
  overflow: hidden;
  text-align: justify;
  color: #767e9e;
}

.service__features {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.service__feature {
  padding-left: 7.9rem;
  width: 300px;
  position: relative;
}

.service__feature .feature__title {
  margin-top: -0.2rem;
  font-size: 1.8rem;
  font-weight: 900;
  color: #666d89;
}

.service__feature .feature__text {
  width: 22rem;
  height: 6.4rem;
  margin-top: 0.7rem;
  font-size: 1.2rem;
  font-weight: 400;
  text-align: justify;
  line-height: 1.797;
  overflow: hidden;
  color: #767e9e;
}

.service__feature .feature__icon {
  position: absolute;
  top: 0;
  left: 0;
}
